.bold{
    font-weight: bold;
    color: black;
}
.color-deepskyblue{
    color: deepskyblue;
}
h1{
    margin: 15px;
}
p{
    text-indent: 40px;
    margin: 15px;
    font-family: Arial;
}
hr{
    margin: 15px;
}
.margin{
    margin-top: -10px;
}
span{
    color: darkblue;
}