tr{
    text-align: left;
}
.bai1{
    background-color: red;
    color: white;
    text-align: center;
}
table{
    background-color: white;
    text-align: center;  
}
.nen{
   background-color: aqua;
}